.content {
	.container-fluid {
		padding-top: 35px;
		padding-bottom: 70px;
	}
}
/* слайдер на главной */
.slider {
	&__block {
		width: 78%;
		display: inline-block;
		margin-bottom: 42px;
	}
	&__image {
		border-radius: 16px;
	}
}
/* блок приемуществ */
.advantages {
	&__block {
		float: right;
		display: inline-block;
		width: 22%;
		position: relative;
		left: -20px;
	}
	&__list {
		list-style-type: none;
		padding: 0 0 0 30px;
		margin: 30px 0;
	}
	&__image-wrap {
		width: 78px;
		float: left;
	}
	&__image {
		max-width: 100%;
		margin: auto;
		display: block;
	}
	&__title {
		font-size: 16px;
		color: #333;
		margin: 0;
		margin-left: 38%;
	}
	&__text {
		color: #666;
		font-weight: 300;
		margin-left: 38%;
	}
}

/* блок товаров  */
.goods {
	&__section  {
		border-top: 2px solid #000;
		position: relative;
		margin-bottom: 50px;
	}
	&__title-wrap {
		text-align: center;
	}
	&__title {
		margin: 0;
		font-size: 30px;
		display: inline-block;
		position: relative;
		top: -29px;
		font-weight: normal;
		background: #fff;
		padding: 5px 20px;
	}
	&__item {
		position: relative;
		display: inline-block;
		width: 19%;
		margin: 40px 0 19px 4.6%;
		vertical-align: top;
		&:hover {
			.goods__link {
				color: #9d489d;
			}
			.goods__footer {
				background-image: url(../img/shadow_active.png);
			}
			.goods__footer._bestseller {
				background-image: url(../img/big_shadow_active.png);
			}
		}
	}
	&__image {
		max-height: 255px;
		display: block;
		margin: auto;
		&._not-active {
			display: none;
		}
	}
	&__footer {
		background-image: url(../img/shadow.png);
		background-repeat: no-repeat;
		background-position: top center;
		padding: 20px;
		margin-top: 10px;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&._bestseller {
			background-image: url(../img/big_shadow.png);
		}
	}
	&__info {
		font-size: 10px;
		text-indent: 15px;
		position: relative;
		margin: -1px 0 3px 0;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -20px -152px no-repeat;
			width: 10px;
			height: 10px;
			top: 2px;
			left: 0;
		}
		&._delivery:before {
			background-position: 0 -152px;
		}
	}
	&__link {
		font-size: 16px;
		color: #3262db;
		display: block;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-weight: bold;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__price {
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		margin: 2px 20px 0 0;
		vertical-align: top;
	}
	&__currency {
		font-size: 12px;
		font-weight: normal;
	}
	&__button {
		width: 23px;
		height: 23px;
		margin: 4px 9px 0 0;
		display: inline-block;
		background: url(../img/main_sprite.png) 0 0 no-repeat;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&._cart {
			background-position: -51px -119px;
			&:hover {
				background-position: -51px -151px;
			}
		}
		&._favorite {
			background-position: -83px -119px;
			&:hover {
				background-position: -83px -151px;
			}
		}
	}
	&__see-all-link {
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 0px;
		font-style: italic;
		border-bottom: 1px solid #c1d0f4;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	/* блок бестселлера */
	&__bestseller {
		float: left;
		width: 44%;
		border: 1px solid #ccc;
		border-radius: 8px;
		padding: 40px;
		box-sizing: border-box;
		position: relative;
		margin: 40px 1% 0px 3%;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) 0px -451px no-repeat;
			width: 390px;
			height: 83px;
			top: 9px;
			left: -35px;
		}
		&:hover {
			.goods__bestseller-footer {
				background-image: url(../img/big_shadow_active.png);	
			}
			.goods__bestseller-link {
				color: #9d489d;
			}
		}
	}
	&__bestseller-image {
		max-height: 475px;
		display: block;
		margin: 15px auto 38px auto;
		&._not-active {
			display: none;
		}
	}
	&__bestseller-footer {
		background-image: url(../img/big_shadow.png);
		background-position: top center;
		background-repeat: no-repeat;
		padding: 41px 15%;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__bestseller-info {
		font-size: 18px;
		position: relative;
		text-indent: 24px;
		margin: 0 0 7px 0;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -203px -308px no-repeat;
			width: 21px;
			height: 18px;
			top: 3px;
			left: 0;
		}
		&._delivery:before {
			background-position: -172px -308px;
		}
	}
	&__bestseller-link {
		display: block;
		font-size: 29px;
		color: #3262db;
		margin-bottom: 8px;
		text-transform: uppercase;
		font-weight: bold;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__bestseller-price {
		font-size: 36px;
		font-weight: bold;
		vertical-align: top;
		margin: 0 24px 0 0;
		display: inline-block;
	}
	&__bestseller-currency {
		font-weight: normal;
		font-size: 20px;
	}
	&__bestseller-button {
		width: 37px;
		height: 37px;
		display: inline-block;
		margin: 0 14px 0 0;
		background: url(../img/main_sprite.png) 0 0 no-repeat;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&._cart {
			background-position: -165px -207px;
			&:hover {
				background-position: -165px -249px;
			}
		}
		&._favorite {
			background-position: -215px -207px;
			&:hover {
				background-position: -215px -249px;
			}
		}
	}
	&__list-wrap {
		padding: 20px 60px;
	}
	&__list {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	&__list-item {
		margin: 30px 3%;
		vertical-align: middle;
	}
	//  блок состояния товаров
	&__block-condition {
		position: absolute;
		top: 20px;
		right: -49px;
	}
	&__condition {
		margin: 7px 0;
		width: 143px;
		height: 56px;
		background: url(../img/main_sprite.png) 0 0 no-repeat;
		&._hot {
			background-position: 0px -205px;
		}
		&._sale {
			background-position: 0px -360px;
		}
		&._new {
			background-position: 0px -281px;
		}
	}
}

/* универсальная кнопка */
.button {
	background: url(../img/buttons.png);
	background-repeat: no-repeat;
	background-position: -4px 0px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	border: none;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	&:hover {
		opacity: 0.8;
	}
	// кнопка показать еще 
	&._see-more {
		line-height: 68px;
		width: 270px;
		margin: 30px 0 30px 0;
	}
	//  кнопка submit в модальном 
	&._submit {
		background-position:  -4px -289px;
		line-height: 64px;
		border: none;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	//  кнопка оформить в хедере под корзиной
	&._cart {
		text-transform: none;
		font-weight: bold;
		background-position: -6px -237px;
		font-size: 14px;
		width: 103px;
		line-height: 26px;
		text-align: center;
		display: none;
		margin-top: 7px;
		&:hover {
			color: #fff;
		}
	}
}

/* блок описания */
.description {
	&__block {
		padding: 40px;
		background: #f2f2f2;
	}
	&__title {
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 50px 0;
	}
	&__text {
		line-height: 27px;
		vertical-align: top;
		width: 47%;
		margin: 0 1%;
		display: inline-block;
	}
}

// страница контактов
.page {
	&__title {
		margin: 0 0 48px 0;
		font-size: 30px;
		font-weight: normal;
	}
	&__img {
		width: 100%;
		margin-bottom: 54px;
	}
}
.contacts {
	// карта 
	&__map {
		display: inline-block;
		width: 50%;
		height: 500px;
		float: right;
		vertical-align: top;
	}
	// блок с информацией 
	&__info {
		display: inline-block;
		width: 40%;
		margin-bottom: 50px;
	}
	// блок с расположением
	&__location {
		position: relative;
		padding-left: 60px;
		margin-bottom: 40px;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) 0 0 no-repeat;
			width: 30px;
			height: 40px;
			top: 28px;
			left: 11px;
		}
	}
	&__town {
		margin: 0;
	}
	&__address {
		font-size: 18px;
		line-height: 30px;
		margin: 6px 0 0 0;
		width: 85%;
	}
	// блок с временем работы
	&__time {
		width: 68%;
		margin-bottom: 40px;
		background: #fff9d5;
		border-radius: 7px;
		position: relative;
		padding: 10px 0 10px 60px;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -345px -95px no-repeat;
			width: 52px;
			height: 40px;
			top: 7px;
			left: 10px;
		}
	}
	&__time-text {
		margin: 0;
		&._sizeL-ital {
			font-style: italic;
			font-weight: bold;
			font-size: 18px;
			margin: 10px 0;
		}
		&._ital {
			font-style: italic;
			font-weight: normal;
		}
		sup {
			text-decoration: underline;
			font-size: 11px;
		}
	}
	// блок с телефонами
	&__phones-block {
		position: relative;
		padding-left: 60px;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -53px 0 no-repeat;
			width: 40px;
			height: 50px;
			top: 0px;
			left: 14px;
		}
	}
	&__phones {
		font-size: 30px;
		font-weight: bold;
		margin:  0 0 15px 0;
	}
	&__operator {
		background: url(../img/main_sprite.png) 0 0 no-repeat;
		width: 140px;
		height: 30px;
		position: relative;
		display: inline-block;
		top: 3px;
		&._life {
			background-position: -301px -156px;
		}
		&._mts {
			background-position: -301px -199px;
		}
		&._kiyv {
			background-position: -307px -237px;
		}
	}
	&__prefix {
		color: #737373;
	}
	&__email {
		display: inline-block;
		line-height: 24px;
		font-size: 20px;
		font-weight: bold;
		margin: 27px 0 0 0;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}

// хлебные крошки
.breadcrumbs {
	&__list {
		margin: 0 0 53px 0;
	}
	&__item {
		position: relative;
		padding-right: 18px;
		&:before {
			content: '→';
			position: absolute;
			top: 0;
			right: 0;
		}
		&:last-child {
			&:before {
				content: '';
			}
		}
	}
	&__link {
		color: #666;
		font-weight: 300;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: lighten(#666, 10%);
		}
	}
	&__active {
		color: #666;
		font-weight: 300;
	}
}

// сайтбар
.sidebar {
	width: 330px;
	float: left;
	margin-right: 35px;
}

// карта сайта ссылки
.sitemap {
	&__level-1 {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__item-level-1,
	&__item-level-2,
	&__item-level-3,
	&__item-level-4 {
		line-height: 27px;
	}
	&__link-level-1 {
		display: inline-block;
		font-weight: bold;
		font-size: 60%;
	}
	&__wrap {
		font-size: 200%;
		line-height: normal;
		border-bottom: 1px solid #6786e2;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	&__level-2,
	&__level-3 {
		margin: 5px 0;
		padding: 0 0 0 20px;
		list-style-type: none;
	}
	&__link-level-2,
	&__link-level-3 {
		font-size: 60%;
		line-height: 18px;
	}
	&__link-level-3 {
		font-style: italic;
		font-weight: 300;
	}
	&__level-4 {
		list-style-type: none;
		padding-left: 15px;
		margin: 0 0 5px 0;
	}
	&__link-level-4 {
		font-size: 50%;
		line-height: 16px;
		font-style: italic;
		font-weight: 300;
	}
}