.header {
	> .container-fluid {
		min-height: 202px;
	}
	/* блок вверху хедера */
	&__top {
		margin-bottom: 31px;
	}
	/* блок с адресом */
	&__location {
		display: inline-block;
		vertical-align: top;
		margin: 12px 0 0 9.6%;
		width: 130px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) 0 0 no-repeat;
			width: 30px;
			height: 40px;
			top: 5px;
			left: -44px;
		}
	}
	&__location-link {
		font-size: 50%;
		display: inline-block;
		color: #000;
		line-height: 20px;
		&:hover {
			color: lighten(#000, 10%);
		}
	}
	&__line {
		line-height: normal;
		font-size: 200%;
		border-bottom: 1px solid #d9d9d9;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	/* блок с временем работы */
	&__time {
		display: inline-block;
		margin: 16px 0 0 7.9%;
		vertical-align: top;
		&._min {
			margin: 16px 0 0 1.9%;
		}
	}
	&__time-text {
		font-style: italic;
		margin: 0 0 3px 0;
		font-weight: 300;
	}
	/* блок с телефонами */
	&__phone-block {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 10px 0 0 13%;
		min-height: 81px;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -53px 0px no-repeat;
			width: 40px;
			height: 50px;
			top: 0;
			left: -45px;
		}
		&._min {
			margin: 10px 0 0 7%;
		}
	}
	&__phone {
		margin: 0;
		letter-spacing: 0.6px;
		font-weight: bold;
		font-size: 20px;
		cursor: pointer;
		&.hide {
			display: none;
		}
	}
	&__prefix {
		color: #737373;
	}
	&__phone-link {
		border-bottom: 1px dotted #000;
		color: #000;
		&:hover {
			color: lighten(#000, 10%);
			border-bottom: 1px solid transparent;
		}
	}
	&__phone-text {
		margin: 0 0 0 13px;
	}
	&__phone-image {
		margin: 2px 0 0 12px;
		display: block;
		width: 135px;
		height: 20px;
		background: url(../img/main_sprite.png) 0px -75px no-repeat;
	}
	/* текст под лого */
	&__attention {
		background: #fff9d5;
		border-radius: 5px;
		padding: 5px 10px;
		display: inline-block;
		margin: -21px 0 0 5px;
		vertical-align: top;
	}
	/* блок желаний в хедере */
	&__wishes-block {
		vertical-align: top;
		margin: 11px 0 0 7%;
		position: relative;
		display: inline-block;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -411px -467px no-repeat;
			width: 45px;
			height: 44px;
			top: 7px;
			left: -50px;
		}
	}
	&__wishes-title {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}
	&__wishes-link {
		display: inline-block;
		line-height: 16px;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}

}

/* скисок вверху хедера */
.univ {
	&__list {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		margin: 25px 0 0 0;
	}
	&__item {
		margin-right: 3.22%;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		border-bottom: 1px solid #d9d9d9;
		line-height: 16px;
		color: #000;
		display: inline-block;
		&:hover {
			border-bottom: 1px solid transparent;
			color: lighten(#000, 10%);
		}
	}
}

/* блок входа в хедере  */
.enter {
	&__block {
		display: inline-block;
		box-sizing: border-box;
		padding: 9px 27px 5px 21px;
		margin: 16px 0 0 10.4%;
		vertical-align: top;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
		border-radius: 5px 0 0 5px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -104px 0px no-repeat;
			width: 80px;
			height: 52px;
			top: -18px;
			left: -63px;
		}
		&:after {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) -274px -227px no-repeat;
			width: 33px;
			height: 43px;
			top: -1px;
			right: -28px;
		}
	}
	&__text {
		margin: 0 0 4px 0;
		font-style: italic;
		color: #424242;
		display: inline-block;
		z-index: 2;
		position: relative;
		&._login {
			word-break: break-word;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100px;
			margin: 0;
		}
	}
	&__link {
		display: inline-block;
		border-bottom: 1px dotted;
		font-style: italic;
		position: relative;
		vertical-align: top;
		&:hover {
			border-bottom: 1px solid transparent;
		}
		&:before {
			position: absolute;
			content: '';
			background: url(../img/main_sprite.png) 0 0 no-repeat;
			width: 9px;
			height: 16px;
			top: 3px;
			left: -12px;
		}
		&.enter {
			margin-left: 44px;
			&:before {
				background-position: -204px -1px;
			}
		}
		&.profile {
			margin-left: 33px;
			border-bottom: 1px solid #5d83e3;
			&:before {
				background-position: -204px -1px;
			}
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
		&.exit {
			margin: 0 -30px 0 30px;
			&:before {
				background-position: -228px 1px;
				width: 12px;
				left: -14px;
			}
		}
	}
}

/* корзина в хедере */
.cart {
	&__block {
		float: right;
		margin: 0 -12px 0 0;
	}
	&__image {
		display: block;
		position: relative;
		width: 119px;
		height: 117px;
		background: url(../img/main_sprite.png) -177px -87px no-repeat;
	}
	&__title {
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		margin: -20px 0 0 0;
	}
	&__info {
		position: absolute;
		top: 0px;
		left: 0;
		width: 105px;
		height: 100px;
		overflow: hidden;
		opacity: 0;
		text-align: center;
		-webkit-transition: opacity 0.4s ease;
		-o-transition: opacity 0.4s ease;
		-moz-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;
		&._full  {
			padding-top: 10px;
			opacity: 1;
			background: url(../img/main_sprite.png) -281px -312px no-repeat;
			width: 105px;
			height: 100px;
		}
	}
	&__num-item {
		margin: 0;
		font-weight: 800;
		color: #932992;
	}
	&__text {
		font-size: 10px;
		margin: 0;
		color: #000;
		&._strong {
			text-transform: uppercase;
			font-weight: 800;
			margin: 3px 0;
		}
	}
	&__price {
		color: #932992;
		font-weight: bold;
		margin: 0;
	}
}

/* главное меню */
.menu {
	background: #eceae1;
	> .container-fluid {
		background: #eceae1;
	}
	&__list {
		margin: 0;
		position: relative;
	}
	&__item {
		margin-left: -4px;
		&:hover {
			background: #fcfcf8;
		}
	}
	&__link {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		color: #350a35;
		padding: 34px 18px;
		display: block;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			color: #5f065e;
			background: #fcfcf8;
		}
	}
}

/* умный поиск в меню */
.smart-search {
	&__form {
		float: right;
		margin: 24px 0 0 0;
		position: relative;
		z-index: 2;
	}
	&__input {
		padding: 12px 30px 12px 20px;
		box-sizing: border-box!important;
		border: 1px solid #999;
		background: #fff;
		border-radius: 15px;
		font-size: 12px;
		color: #999999;
		font-weight: bold;
		letter-spacing: 1px;
		outline: none;
		text-transform: uppercase;
	}
	&__button {
		position: absolute;
		top: 12px;
		right: 12px;
		background: url(../img/main_sprite.png) -260px -3px no-repeat;
		display: block;
		border: none;
		width: 18px;
		height: 18px;
	}
	&__section {
		position: relative;
	}
	&__block {
		display: none;
		width: 462px;
		box-sizing: border-box;
		padding: 20px 0 32px 0;
		position: absolute;
		top: 92px;
		right: 0;
		z-index: 2;
		box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.25);
		background: #f4f2ed;
	}
	&__item {
		border-bottom: 1px solid #e0e0e1;
		padding: 7px 25px;
	}
	&__image-wrap {
		float: left;
		background: #fff;
		border: 1px solid #9e9e9e;
		border-radius: 7px;
	}
	&__image {
		max-width: 65px;
		max-height: 65px;
		display: block;
		margin: auto;
		border-radius: 7px;
	}
	&__info-wrap {
		margin-left: 85px;
	}
	&__title {
		text-transform: uppercase;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		display: block;
		margin: 4px 0;
		font-weight: bold;
	}
	&__price {
		font-weight: bold;
		color: #aeada9;
		font-size: 18px;
		margin: 0;
	}
	&__currency {
		font-weight: normal;
		font-size: 16px;
		display: inline-block;
		margin-left: 7px;
	}
	&__link {
		&:hover {
			.smart-search__title {
				color: #9d489d;
			}
		}
	}
	&__all-result {
		display: inline-block;
		line-height: 16px;
		border-bottom: 1px solid;
		margin-top: 25px;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}

/* выпадающее меню */
.dropdown-menu {
	&__list {
		display: none;
		z-index: 200;
		position: absolute;
		top: 92px;
		box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.25);
		background: #f8f8f4;
		padding: 20px 32px 40px 32px !important;
	}
	&__item {
		vertical-align: top;
		width: 22%;
		margin: 0 2% 20px 0;
	}
	&__item-title {
		color: #932992;
		font-weight: 800;
		font-size: 16px;
		text-transform: uppercase;
	}
	&__item-link {
		display: block;
		text-transform: uppercase;
		color: #999;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		font-weight: 600;
		width: 269px;
		margin-bottom: 11px;
		&:hover {
			color: #932992;
		}
	}
}

/* затемнение окна */
.wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.74);
	z-index: 200;
}

/* выпадающее окно в хедере*/
.modal {
	&__window {
		width: 348px;
		position: absolute;
		top: 56px;
		left: -31px;
		box-sizing: border-box;
		border-radius: 9px;
		background: #f4f2ed;
		padding: 33px 29px;
		display: none;
		z-index: 201;
		&:before {
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 14px solid #f4f2ed;
			position: absolute;
			content: '';
			top: -14px;
			right: 74px;
 		}
	}
	&__list {
		padding: 0;
		margin: 0 0 26px 0;
	}
	&__item {
		margin-right: -7px;
		&.ui-state-active {
			a {
				border: 2px solid #932992;
				color: #932992;
			}
		}
	}
	&__tab-link {
		font-weight: 800;
		text-transform: uppercase;
		color: #b8b8b8;
		font-size: 16px;
		padding: 15px 25px;
		border: 2px solid transparent;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		display: block;
		border-radius: 5px;
		outline: none;
		&:hover {
			color: #932992;
		}
	}
	&__input:not(.checkbox) {
		border: 1px solid #949492;
		border-radius: 5px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #999;
		font-size: 13px;
		padding: 0 14px;
		box-sizing: border-box;
		width: 100%;
		height: 38px;
		margin-bottom: 19px;
		font-weight: bold;
		outline: none;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:focus {
			box-shadow: 0 0 4px #949492;
		}
	}
	&__label {
		color: #333;
		margin: 0;
		display: block;
	}
	&__link {
		font-style: italic;
		border-bottom: 1px dotted;
		display: inline-block;
		line-height: 16px;
		margin: 15px 0;
		&:hover {
			border-bottom: 1px solid transparent;
		}
		&._b-solid {
			border-bottom: 1px solid;
			margin: 0;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__footer {
		background: #eceae1;
		border-radius: 0 0 9px 9px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 25px 29px;
		box-sizing: border-box;
		margin: 0 -29px -33px -29px;
	}
	&__text {
		color: #333;
		margin: 0 0 15px 0;
	}
}