@media (min-width: 1000px) and (max-width: 1333px) {
	// настройка главной страницы
	// залогиненый 
	.enter__block {
		margin: 16px 0 0 15px;
	}
	.univ {
		&__list {
			margin: 14px 0 0 0;
		}
		&__item {
			margin-right: 8.22%;
			margin-bottom: 5px;
		}
	}
	.smart-search {
		&__form {
			width: 17%;
		}
		&__input {
			width: 100%;
		}
	}
	.menu {
		&__item {}
		&__link {
			font-size: 14px;
			padding: 37px 11px;
		}
	}
	.dropdown-menu {
		&__item {
			width: 32%;
			margin: 0 0% 20px 0;
		}
		&__item-link {
			font-size: 13px;
		}
	}
	.slider {
		&__block {
			width: 100%;
			margin: 0 auto;
			display: block;
		}
	}
	.advantages {
		&__block {
			float: none;
			width: 100%;
			&._product {
				width: 100%;
			}
		}
		&__list {
			margin: 10px 0 60px 0;
		}
		&__item {
			width: 20%;
			margin: 0 2%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
		}
		&__image-wrap {
			width: auto;
			float: none;
			min-height: 63px;
		}
		&__image {
			margin: 0 auto 24px auto;
		}
		&__title {
			margin-left: 0;
			min-height: 44px;
			&._product {
				margin-left: 0;
			}
			&._prod-marg {
				margin: 0 9px -21px 0;
			    display: inline-block;
			}
		}
		&__text {
			margin-left: 0;
			&._product {
				margin-left: 0;
			}
		}
	}
	.goods {
		&__item {
			width: 28%;
			&._blog-in {
				.goods__footer {
					padding: 20px 0 20px 0px;
				}
			}
			&._catalog {
				width: 27%;
			}
		}
		&__bestseller {
			width: 57%;
			margin: 40px 6% 0 3%;
		}
		&__section {
			&._windowSize-s {
				.goods__item:last-child {
					display: none;
				}
			}
		}
	}
	.intresting {
		&__title {
			display: none;
		}
	}
	.yashare-auto-init {
	    margin: 25px 0 0 2%;
	}
	.phones {
		&__number {
			font-size: 17px;
		}
	}
	.social {
		&__text {
			margin: 8px 0 0 7%;
		}
	}
	.copyright {
		&__block {
			width: 44%;
		}
	}
	.footer {
		&__link-block {
			margin: 0 0 0 7%;
		}
		&__link {
			display: block;
		    margin: 0 20px 4px 20px;
		}
	}
	.header {
		&__logo {
			img {
				width: 15%;
				margin: 9px 0 0 0;
			}
		}
		&__location {
			margin: 12px 0 0 7.6%;
		}
		&__location-link {
			font-size: 47%;
		}
		&__time {
			margin: 10px 0 0 3%;
			&._min {
				margin: 10px 0 0 0;
			}
		}
		&__phone-block {
		    margin: 8px 0% 0 11%;
			&._min {
			    margin: 8px 7% 0 7%;
			}
		}
		&__phone {
			font-size: 15px;
		}
		&__wishes-block {
			margin: 3px 0 0 0%;
		}
		&__wishes-title {
			display: none;
		}
		&__wishes-link {
			width: 21px;
			overflow: hidden;
			text-align: center;
			border-bottom: none;
			display: block;
			border-radius: 50%;
			background-color: #AC2295;
			height: 17px;
			padding: 2px 0 0 0;
			color: #fff;
			font-size: 12px;
			margin: 28px 0 0 -12px;
			&:hover {
				border-bottom: none;
				color: #fff;
			}
		}
	}

	// блог
	.blog {
		&__list {
			width: 100%;
			&:nth-child(3) {
				margin: 0;
			}
		}
		&__item {
			padding-bottom: 60px;
			&:after {
				content: '';
				display: block;
				height: 0;
				overflow: hidden;
				clear: both;
			}
		}
		&__image {
			float: left;
			margin: 0 25px 5px 0;
		}
	}

	// корзина шаг 1
	.cart {
		&__header-list {
			margin: 50px 0 137px -20px;
		}
		&__header-item {
			&:before {
				right: -61px;
			}
		}
		&__header-title {
			font-size: 20px;
		}
	}
	.order {
		&__price {
			font-size: 28px;
		}
		&__cell {
			&._right {
				padding-right: 3%;
			}
			&._cost {
				width: 24%;
			}
		}
		&__text {
			&._sizeL {
				font-size: 28px;
				margin-top: 26px;
			}
			font-size: 14px;
		}
		&__table-title {
			font-size: 14px;
		}
	}

	// корзина шаг 2 
	.formalization {
		&__label {
			font-size: 13px;
			vertical-align: middle;
		}
		&__text {
			&._light {
				font-size: 13px;
			}
			font-size: 13px;
		}
		&__table-text {
			font-size: 14px;
		}
		&__table-item {
			&:first-child {
				width: 33%;
			}
		}
		&__link {
			&._float-r {
				float: none;
				position: relative;
				margin: 0;
				top: -20px;
			}
		}
	}

	// корзина шаг 3
	.confirm__block {
		width: 57%;
	}

	// страница контактов 
	.contacts {
		&__phones {
			font-size: 18px;
			margin: 0;
		}
	}

	// сайтбар 
	.sidebar {
		width: 265px;
		&__blog-title {
			font-size: 13px;
			line-height: 18px;
		}
	}

	// главный контент
	.main__section {
		margin-left: 305px;
		&._catalog {
			margin-left: -18px;
			margin-right: -18px;
		}
	}

	// блок фитрации в каталоге
	.filter {
		&__block {
			width: 100%;
		}
		&__input {
			width: 96px;
		}
		&__availability {
			font-size: 12px;
		}
	}

	// сортировка
	.sorting {
		&__block {
			margin: 15px 39px 0 0;
		}
	}

	// страница продукта
	.product {
		&__image-block {
			width: 50%;
			margin-right: 4%;
		}
		&__info {
			width: 44%;
		}
	}
}
@media (min-width:1175px) and (max-width: 1333px) {
	.header {
		&__wishes-title {
			display: block;
			margin: 3px 0 0 0;
		}	
		&__wishes-link {
			width: auto;
			position: relative;
			color: #3262db;
			border-radius: 0px;
			background: none;
			display: inline-block;
			font-size: 14px;
			line-height: 16px;
			border-bottom: 1px solid;
			margin: 0;
			&:hover {
				color: lighten(#3262db, 10%);
				border-bottom: 1px solid transparent;
			}
		}
	}
	.menu {
		&__link {
			font-size: 16px;
			padding: 37px 15px;
		}
	}
	.dropdown-menu {
		&__item {
			width: 24%;
		}
	}
	.slider {
		&__block {
			width: 81%;
			margin: 0 auto;
			display: block;
		}
	}
	.social {
		&__text {
			    margin: 8px 0 0 3%;
		}
	}
	.intresting {
		&__title {
			display: inline-block;
		}
	}
	.footer {
		&__link-block {
			margin: 0 0 0 2%;
		}
		&__link {
			display: inline-block;
		}
	}
}
@media (min-width: 1300px) {
	.goods {
		&__item {
			width: 19%;
		}
		&__bestseller {
			width: 44%;
			margin: 40px 0% 0 3%;
		}
		&__section {
			&._windowSize-s {
				.goods__item:last-child {
					display: inline-block;
				}
			}
		}
	}
}