@media (max-width: 1024px) {
	// настройка главной страницы
	// залогиненый 
	.enter__block {
		margin: 16px 0 0 0;
	}
	.univ {
		&__list {
			margin: 14px 0 0 0;
		}
		&__item {
			margin-right: 8.22%;
			margin-bottom: 5px;
		}
	}
	.smart-search {
		&__form {
			width: 17%;
		}
		&__input {
			width: 100%;
		}
	}
	.menu {
		&__item {}
		&__link {
			font-size: 14px;
			padding: 37px 11px;
		}
	}
	.dropdown-menu {
		&__item {
			width: 32%;
			margin: 0 0% 20px 0;
		}
		&__item-link {
			font-size: 13px;
		}
	}
	.slider {
		&__block {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.advantages {
		&__block {
			float: none;
			width: 100%;
		}
		&__list {
			margin: 10px 0 60px 0;
		}
		&__item {
			width: 22%;
			margin: 0 1%;
			vertical-align: top;
			display: inline-block;
			text-align: center;
		}
		&__image-wrap {
			width: auto;
			float: none;
			min-height: 63px;
		}
		&__image {
			margin: 0 auto 24px auto;
		}
		&__title {
			margin-left: 0;
			min-height: 44px;
		}
		&__text {
			margin-left: 0;
		}
	}
	.goods {
		&__item {
			width: 28%;
		}
		&__bestseller {
			width: 57%;
			margin: 40px 6% 0 3%;
		}
		&__section {
			&._windowSize-s {
				.goods__item:last-child {
					display: none;
				}
			}
		}
	}
	.intresting {
		&__title {
			display: none;
		}
	}
	.yashare-auto-init {
	    margin: 25px 0 0 2%;
	}
	.phones {
		&__number {
			font-size: 17px;
		}
	}
	.social {
		&__text {
			margin: 8px 0 0 7%;
		}
	}
	.copyright {
		&__block {
			width: 43%;
		}
	}
	.footer {
		&__link-block {
			margin: 0;
		}
		&__link {
			display: block;
		    margin: 0 20px 4px 20px;
		}
	}
	.header {
		&__logo {
			img {
				width: 15%;
				margin: 9px 0 0 0;
			}
		}
		&__location {
			margin: 12px 0 0 7.6%;
		}
		&__location-link {
			font-size: 47%;
		}
		&__time {
			margin: 10px 0 0 3%;
			&._min {
				margin: 10px 0 0 0;
			}
		}
		&__phone-block {
		    margin: 8px 0% 0 11%;
			&._min {
			    margin: 8px 7% 0 7%;
			}
		}
		&__phone {
			font-size: 15px;
		}
		&__wishes-block {
			margin: 3px 0 0 0%;
		}
		&__wishes-title {
			display: none;
		}
		&__wishes-link {
			width: 21px;
			overflow: hidden;
			text-align: center;
			border-bottom: none;
			display: block;
			border-radius: 50%;
			background-color: #AC2295;
			height: 17px;
			padding: 2px 0 0 0;
			color: #fff;
			font-size: 12px;
			margin: 28px 0 0 -12px;
			&:hover {
				border-bottom: none;
				color: #fff;
			}
		}
	}

	// блог

}