extends _layout
block content
	.content
		.container-fluid
			h1.main__title Бренды
			.brand__block
				span.brand__word 0-9
				ul.brand__list
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York
			.brand__block
				span.brand__word A
				ul.brand__list
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York
			.brand__block
				span.brand__word B
				ul.brand__list
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth 
					li.brand__item
						a.brand__link(href="#") 
							span.header__line Abercrombie & Fitch
					li.brand__item
						a.brand__link(href="#")
							span.header__line Ana Lublin
					li.brand__item
						a.brand__link(href="#")
							span.header__line Antonio Melani
					li.brand__item
						a.brand__link(href="#")
							span.header__line A.G. Spalding&Bros. 520 Fifth Avenue New York