extends _layout
block content
	.content
		.container-fluid
			.cart__header
				ul.cart__header-list.list-inline
					li.cart__header-item.active
						p.cart__header-title 1. Список товаров
						p.cart__header-text То что вы добавили в корзину
					li.cart__header-item
						p.cart__header-title 2. Оформление заказа
						p.cart__header-text Доставка и способ оплаты
					li.cart__header-item
						p.cart__header-title 3. Подтверждение заказа
						p.cart__header-text Все верно? Заказываем!
				table.order__table
					tbody.order__table-body
						tr.order__line
							th.order__table-title Товар
							th.order__table-title Цвет
							th.order__table-title._text-c Размер
							th.order__table-title._text-c Количество
							th.order__table-title._text-c Цена
							th.order__table-title 
						tr.order__line
							td.order__cell._goods-W
								a.order__link(href="#")
									img.order__img(src="img/content/order_thumb.jpg", alt="")
									p.order__title._sizeL zara кеды leather good best keds color green
								span.order__option._margl Без коробки
							td.order__cell
								img.order__color(src="img/green.png", alt="")
							td.order__cell._text-c
								p.order__size 39
							td.order__cell._text-c
								span.order__btn._down(data-val="-1")
								input.order__input(type="text" readonly value="1" maxlength="3" data-min-val="1")
								span.order__btn._up(data-val="1")
							td.order__cell._cost._right
								p.order__price.num_format(data-val="890") 890 
									span.order__currency грн.
							td.order__cell
								.order__delete
						tr.order__line
							td.order__cell._goods-W
								a.order__link(href="#")
									img.order__img(src="img/content/order_thumb.jpg", alt="")
									p.order__title._sizeL zara кеды leather good best keds color green
								span.order__option._margl Без коробки
							td.order__cell
								img.order__color(src="img/white.png", alt="")
							td.order__cell._text-c
								p.order__size 39
							td.order__cell._text-c
								span.order__btn._down(data-val="-1")
								input.order__input(type="text" readonly value="1" maxlength="3" data-min-val="1")
								span.order__btn._up(data-val="1")
							td.order__cell._cost._right
								p.order__price.num_format(data-val="290") 290 
									span.order__currency грн.
							td.order__cell
								.order__delete
					tfoot
						tr.order__line._v-align
							td.order__cell(colspan="2")
								p.attention._marg Чтобы была учтена ваша скидка 
									a.attention__link(href="#") войдите в профиль
							td.order__cell._right(colspan="2")
								p.order__text Всего:
								p.order__text._italic Ваша скидка (3%):
								p.order__text._italic Сумма личного счёта:
								p.order__text._total Итого:
							td.order__cell._right
								p.order__text._strong.num_format#price_total(data-val="1890") 1 890 
									span.order__currency._sizeM грн.
								p.order__text._italic._strong.num_format - 150 
									span.order__currency._sizeM грн.
								p.order__text._italic._strong.num_format - 900 
									span.order__currency._sizeM грн.
								p.order__text._sizeL.num_format#total 1 340 
									span.order__currency грн.
				.text-center
					a.button._see-more(href="#") к оформлению