extends _layout
block content
	.content
		.container-fluid
			.sidebar
				ul.breadcrumbs__list.list-inline
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						p.breadcrumbs__active Отзывы
				ul.sidebar__menu
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Оплата и доставка
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Скидки
					li.sidebar__menu-item
						a.sidebar__menu-link.active(href="#") Отзывы
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Контакты
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Возврат
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Блог
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") О магазине
				h3.sidebar__title Наш
					img.sidebar__img(src="img/instagram.png", alt="")
				a.sidebar__link(href="#")
					img.sidebar__img(src="img/insta_box.jpg", alt="")
				.sidebar__discount
					a.sidebar__link(href="#")
						img.sidebar__img(src="img/discount.png", alt="")
				h3.sidebar__title Рекомендуемые товары
				.goods__item._sidebar
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
						p.goods__price 1 260 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite(href="#")
				.goods__item._sidebar
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
						p.goods__price 1 260 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite(href="#")
				.goods__item._sidebar
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
						p.goods__price 1 260 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite(href="#")
				h3.sidebar__title Свежее в блоге
				.sidebar__blog-preview
					a.sidebar__blog-link(href="#")
						img.sidebar__blog-img(src="img/content/blog_thumb.jpg", alt="")
						p.sidebar__blog-title Модные
						p.sidebar__blog-date 15 мая 2015
				.sidebar__blog-preview
					a.sidebar__blog-link(href="#")
						img.sidebar__blog-img(src="img/content/blog_thumb.jpg", alt="")
						p.sidebar__blog-title Модные Женские футболки 2015 и другие аксессуары Модные Женские футболки 2015 и другие аксессуары
						p.sidebar__blog-date 15 мая 2015
				.sidebar__blog-preview
					a.sidebar__blog-link(href="#")
						img.sidebar__blog-img(src="img/content/blog_thumb.jpg", alt="")
						p.sidebar__blog-title Модные Женские футболки 2015 и другие аксессуары
						p.sidebar__blog-date 15 мая 2015
			.main__section
				a.main__link(href="#") Оставить свой отзыв
				.modal__window._reviews
					p.modal__title Ваш отзыв
					form.modal__form(action="#")
						input.modal__input(type="text" placeholder="Ваше имя" required)
						input.modal__input(type="email" placeholder="Електронная почта" required)
						textarea.modal__message(placeholder="текст вашего сообщения" required)
						.modal__footer
							button.button._submit(type="submit") Отправить
				h1.main__title Отзывы наших клиентов
				.review__section
					.review__block
						p.review__autor Алина
							span.review__date 15 мая 2015
						p.review__text Сайт отличный!!! Отличное обслуживание))) Приехала в магазин 2 недели назад, все подошло) Девушка безумно милая, все подсказала, буду дальше заказывать) спас ибо Вам!!!
					.review__block
						p.review__autor Ирина Валериевна
							span.review__date 15 мая 2015
						p.review__text Получила свой заказ вовремя! Качество приятно порадовало, заказывала одежду, очень и очень! Спасибо Наталье и Светлане за консультации и терпение! Успехи в работе!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Сергей Борисович
							span.review__date 15 мая 2015
						p.review__text Добрый вечер! Сегодня купила у Вас сумку Луи Виттон в шашечку, очень хорошего качества! Большое спасибо! Теперь всегда буду делать покупки в вашем магазине!
						.review__recomment
							p.review__autor Ответ от администрации
								span.review__date 15 мая 2015
							p.review__text Спасибо Александр что всёже написали, не оставив эту проблему на самотек. Размерные сетки будут, проблема с ними организовалась, тк мы их собраем непосредственно от производителей, и к сожалению не все нам прислали. Просим немного подождать, тк на сайте они появяться в первую очередь. Для остальных наших дорогих клиентов просьба - если не можете определиться с размером звоните нам по всем нашим номерам. Мы Вам поможем! С уважением, онлайн магазин Глазурь.
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Сергей Борисович
							span.review__date 15 мая 2015
						p.review__text Добрый вечер! Сегодня купила у Вас сумку Луи Виттон в шашечку, очень хорошего качества! Большое спасибо! Теперь всегда буду делать покупки в вашем магазине!
						.review__recomment
							p.review__autor Ответ от администрации
								span.review__date 15 мая 2015
							p.review__text Спасибо Александр что всёже написали, не оставив эту проблему на самотек. Размерные сетки будут, проблема с ними организовалась, тк мы их собраем непосредственно от производителей, и к сожалению не все нам прислали. Просим немного подождать, тк на сайте они появяться в первую очередь. Для остальных наших дорогих клиентов просьба - если не можете определиться с размером звоните нам по всем нашим номерам. Мы Вам поможем! С уважением, онлайн магазин Глазурь.
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
					.review__block
						p.review__autor Ирина
							span.review__date 15 мая 2015
						p.review__text Все отлично, уже два раза заказывал верхнюю одежду (пуховик, пальто) все без сюрпризов, вот с утра нашел что себе закажу на НГ, но...одно НО... РЕБЯТА, ГДЕ РАЗМЕРНАЯ СЕТКА ЕПТА, совесть имейте, ладно барышни, они понимают в своих там размерах и т.д., а мне, нормальному парню как разобраться во всей этой белибирде... кароч, "ДАЕШЬ РАЗМЕРНУЮ СЕТКУ"А за остальное, спасибо!
				.pagination__block
					ul.pagination__list.list-inline
						li.pagination__item
							p.pagination__active-page 1
						li.pagination__item
							a.pagination__page(href="#") 2
						li.pagination__item
							a.pagination__page(href="#") 3
						li.pagination__item
							a.pagination__page(href="#") 4
						li.pagination__item ...
						li.pagination__item
							a.pagination__page(href="#") 10			