extends _layout
block content
	.content
		.container-fluid
			.sidebar
				ul.breadcrumbs__list.list-inline
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						p.breadcrumbs__active Карта сайта
				.sitemap__block
					ul.sitemap__level-1
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap Главная
							ul.sitemap__level-2
								li.sitemap__item-level-2
									a.sitemap__link-level-2(href="#") 
										span.sitemap__wrap Мужская одежка
									ul.sitemap__level-3
										li.sitemap__item-level-3
											a.sitemap__link-level-3(href="#")
												span.sitemap__wrap Ботинки
											ul.sitemap__level-4
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
										li.sitemap__item-level-3
											a.sitemap__link-level-3(href="#")
												span.sitemap__wrap Туфли
											ul.sitemap__level-4
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
										li.sitemap__item-level-3
											a.sitemap__link-level-3(href="#")
												span.sitemap__wrap Сапоги
											ul.sitemap__level-4
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
												li.sitemap__item-level-4
													a.sitemap__link-level-4(href="#")
														span.sitemap__wrap Товар 1
								li.sitemap__item-level-2
									a.sitemap__link-level-2(href="#") 
										span.sitemap__wrap Мужские аксессуары
								li.sitemap__item-level-2
									a.sitemap__link-level-2(href="#") 
										span.sitemap__wrap Мужская обувь
								li.sitemap__item-level-2
									a.sitemap__link-level-2(href="#") 
										span.sitemap__wrap Женская обувь
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap Оплата и доставка
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap О магазине
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap Блог
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap Отзывы
						li.sitemap__item-level-1
							a.sitemap__link-level-1(href="#") 
								span.sitemap__wrap Контакты
			.main__section
				h1.main__title Карта сайта
			.clear
			