extends _layout
block content
	.content
		.container-fluid
			.sidebar
				ul.breadcrumbs__list.list-inline
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						p.breadcrumbs__active Личный кабинет
				ul.sidebar__menu
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") Личный счет
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") история заказов
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") данные профиля
					li.sidebar__menu-item
						a.sidebar__menu-link.active(href="#") желания
					li.sidebar__menu-item
						a.sidebar__menu-link(href="#") смена пароля
			.main__section
				h1.main__title Желания
				.goods__item._blog-in
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
							span.goods__video
						p.goods__price 1 260 
							span.goods__currency грн
						p.goods__price._old 2 600 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite-active(href="#")
				.goods__item._blog-in
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
							span.goods__video
						p.goods__price 1 260 
							span.goods__currency грн
						p.goods__price._old 2 600 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite-active(href="#")
				.goods__item._blog-in
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
							span.goods__video
						p.goods__price 1 260 
							span.goods__currency грн
						p.goods__price._old 2 600 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite-active(href="#")
				.goods__item._blog-in
					a.goods__item-link(href="#")
						.goods__block-condition
							p.goods__condition._hot
							p.goods__condition._sale
							p.goods__condition._new
						img.goods__image(src="img/content/goods.jpg", alt="")
						img.goods__image._not-active(src="img/content/goods_2.jpg", alt="")
					.goods__footer
						p.goods__info Есть в наличии
						a.goods__link(href="#") Куртка PAUL&Shark
							span.goods__video
						p.goods__price 1 260 
							span.goods__currency грн
						p.goods__price._old 2 600 
							span.goods__currency грн
						a.goods__button._cart(href="#")
						a.goods__button._favorite-active(href="#")
			.clear
			