//- script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")
script(src="js/jquery.js")
script(src="js/plugins.js")
// подключить только на странице каталога
script(src="js/mCustomScrollbar.min.js")
// =========================
// только на странице товара
script(src="js/jquery.elevateZoom-3.0.8.min.js")
// =========================
script(src="js/script.js")