- var univ_menu = ["Оплата и доставка", "Скидки", "Отзывы", "Контакты", "Возврат", "Блог", "О магазине"]
- var main_menu = ["Женщинам", "Мужчинам", "Новинки", "В наличии", "Распродажа", "ORYGINAL", "Бренды"]